.button {
    @extend %font-prim;
    padding: 11px 25px 13px;
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.2rem;
    border-radius: 4px;
    cursor: pointer;
    @extend %transition;
    &_bordered {
        background: $color-light;
        border: 1px solid $color-border;
        color: $color-text;
        &:hover {
            background: $color-hovered;
            border-color: $color-hovered;
        }
    }
    &_colored {
        background: $color-primary;
        color: $color-light;
        border: 1px solid $color-primary;
        &:hover {
            background: $color-additional;
            border-color: $color-additional;
        }
    }
}

.link-button {
    color: $color-primary;
    @extend %font-add;
    display: inline-flex;
    align-items: center;
    transition: .3s;
    &:hover {
        color: $color-red;
        .ico_play {
            background-image: url("../img/icons/play-hover.svg");
        }
    }
}

.link-button__text {
    margin-left: 9px;
}
