.tags {
    display: flex;
    >* {
        margin-right: 7px;
    }
}

.tag {
    border-radius: 90px;
    padding: 0 14px;
    cursor: pointer;
    @include font($size: 1.3rem, $height: 2.8rem, $weight: normal);

    &_selected {
        background-color: $color-primary;
        color: $color-light;
    }

    &_bordered {
        border: 1px solid $color-border;
    }

    &_colored {
        background-color: $color-tag;
    }
}