@mixin font ($size, $height: $size, $weight: bold, $style: normal) {
    font-size: $size;
    font-style: $style;
    font-weight: $weight;
    line-height: $height;
}


@mixin columns ($width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    >* {
        flex-basis: $width;
    }
}