.strategies {
    padding: 30px 0;
}

.strategies__title {
    margin: 0 0 14px;
}

.strategies__description {
    margin: 0 0 24px;
}

.strategies__tags {
    margin-bottom: 31px;
}

//Strategy
.strategy {
    cursor: pointer;
}

.strategy-wrapper {
    >* {
        margin-bottom: 30px;
    }
}

.strategy__content {
    padding: 24px 33px 26px;
}

.strategy__name {
    margin: 0 0 29px;
}