.strategies {
    padding: 30px 0;
    @include media-tablet {
        text-align: center;
    }
}

.strategies__title {
    margin: 0 0 14px;
}

.strategies__description {
    margin: 0 0 24px;
}

.strategies__tags {
    margin-bottom: 31px;
    @include media-tablet {
        justify-content: center;
    }
}

//Strategy
.strategy-wrapper {
    >* {
        margin-bottom: 30px;
        @include media-tablet {
            flex-basis: 48%;
        }
        @include media-mobile {
            flex-basis: 100%;
        }
    }
}

.strategy {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    position: relative;
    @include media-tablet {
        overflow: hidden;
        padding-top: 200px;
    }
}

.strategy__content {
    padding: 24px 33px 26px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.strategy__name {
    margin: 0 0 29px;
    text-align: left;
    flex-grow: 1;
}

.strategy__image {
    @include media-tablet {
        position: absolute;
        top: 0;
    }
}