.tools__wrapper {
    padding-bottom: 90px;
    background-image: url("../img/backgrounds/tools-bg.svg");
    background-position: center bottom;
    background-size: 100%;
    background-repeat: no-repeat;
}

.tools__title {
    max-width: 462px;
    margin: auto;
    text-align: center;
    margin-bottom: 70px;
}

.tools__button {
    margin-top: 60px;
    text-align: center;
}

//Tool Block
.tool__icon {
    margin-bottom: 30px;
}

.tool__title {
    margin: 0 0 16px;
}