html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: 'Open Sans', Verdana, sans-serif;
}

h1 {
    font-family: 'Poppins', Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
}

h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 46px;
}

h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
}

h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
}

h5 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
}