html {
    font-size: 10px;
}

body {
    @extend %font-prim;
    @include font($size: 1.6rem, $height: 2.6rem, $weight: normal);
}

h1 {
    @extend %font-add;
    @include font($height: 5.4rem, $size: 4.4rem);
}

h2 {
    @include font($size: 3.4rem, $height: 4.6rem);
}

h3 {
    @include font($size: 2.4rem, $height: 3.4rem);
}

h4 {
    @include font($size: 2.2rem, $height: 3.0rem, $weight: 600);
}

h5 {
    @include font($size: 1.6rem, $height: 2.6rem);
}

.block-shadowed {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}