.header {
    background: $color-light;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    padding: 15px 0 17px 0;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__buttons {
    >.button {
        margin-left: 14px;
        &:first-child {
            margin-left: 14px;
            margin-left: 0;
        }
    }
}
