.layout-4-column {
    @include columns($width: 21%);
}

.layout-3-column {
    @include columns($width: 30%);
    &:after {
        content: '';
        width: 30%;
        display: block;
    }
}

.layout-2-column {
    @include columns($width: 48%);
}